body {
    font-family: 'Poppins', sans-serif;
}
.nav-color {
    color: gray;
}
nav  ul  li  a {
    font-weight: 700;
}
.navbar {
    padding-left: 0px;
}
.carousel-item {
    /* background-color: lightblue; */
}
.carousel-indicators .active {
    background-color: #FF9C35;
    width: 45px;
    height: 12px;
}
.carousel-indicators li {
    background-color: #CECECE;
    width: 16px;
    height: 12px;
    border-radius: 10px;
    border-top: none;
    border-bottom: none;
}
.gadgets-slide {
    /* padding: 10px 90px 10px 30px; */
    padding-right: 120px;
}
.gadgets-slide h1 {
    font-size: 41px;
}
.gadgets-slide p {
    color: #707070;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.buy-now-btn {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 30px;
}
.buy-now-btn:hover {
    background-color: #FF9D00;
    color: #fff;
}
.margin-top {
    margin-top: 100px;
}

.smartphone-top h6, .laptop-top h6 {
    color: #FF9D00;
}

.smartphone-top a, .laptop-top a {
    text-decoration: none;
}

.smartphone-zone img {
    padding: 50px 5px;
}

.card {
    border: none;
    box-shadow: 2px 2px 10px rgb(244, 242, 242);
    border-radius: 10px;
}
.card-footer {
    background-color: #fff;
    border-top: none;
    padding-bottom:50px;
}

.item-price {
    font-weight: 700;
}

.card-title {
    font-weight: bold;
}

.card-text {
    color:#707070;
    font-size: 15px;
}
